table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}
th {
    background: #e8ecef;
    position: sticky;
    top: 0;
}
.country-status-row:hover {
    background-color: #eff3f6;
    transition: 0.2s;
}